
@{
    ViewBag.Title = "Error";
}

<h2>Error de Acceso</h2>

<h3>Debes ser Admin para ingresar</h3>

<input type="button" class="btn btn-secondary" value="Regresar" onclick="document.location.href = '@Url.Content("~/Home/Index")'"/>

